<tbody>
<tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
    <td class="content-block" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;" valign="top">
    <h2>Bonjour! </h2> 
    <h3>Demande d'entretien via la CVthèque Activ Solution Océan Indien de la part de 
        <%= @user.name %> pour <%= @cv.nomPrenom %>
    </h3>
    </td>
</tr>
<tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
    <td class="content-block" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;" valign="top">
    <strong>
        Demande d'entretien' de la part de <%= @user.name %> :
    </strong>
    <br/>
    <div>
        <p>Nom et prénom : <%= @user.name %> </p> 
        <P>E-mail : <%= @user.email %></p>
        <P>Numéro téléphone : <%= @user.phone %></p>
        <p>Société : <%= @user.societe %></p>
    </div>
    <hr/>
    <strong>
        A propos de <%= @cv.nomPrenom %> ou ID - 00<%= @cv.id %> :
    </strong>
    <br/>
    <div>
        <p>Nom et prénom : <%= @cv.nomPrenom %> </p> 
        <P>E-mail : <%= @cv.email %></p>
        <P>Numéro téléphone : <%= @cv.telephone %></p>
        <P>Description : <br/>
            <%= @cv.descriptionProfile  %>
        </p>
    </div>
    <hr/>
    <strong>
        Date de rendez-vous :
    </strong>
    <br/>
    <div>
        <strong>- <%= @entretien.drdv %> </strong>
        <strong>à <%= @entretien.hrdv %></strong>
    </div>
    </td>
</tr>
<tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
    <td class="content-block" itemprop="handler" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;" valign="top">
    <a href="https://activsolution.fr/cvtheque/notifications" class="btn-primary" itemprop="url" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; color: #FFF; text-decoration: none; line-height: 2em; font-weight: bold; text-align: center; cursor: pointer; display: inline-block; border-radius: 5px; text-transform: capitalize; background-color: #f06292; margin: 0; border-color: #f06292; border-style: solid; border-width: 8px 16px;">
        Allez sur le site
    </a>
    </td>
</tr>

