<tbody><tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
    <td class="content-block" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;" valign="top">
    <h2>Bonjour <%= @admin.name %> ! </h2> 
    <h3><%= @user.name %> à ajouter <%= @cv.nomPrenom %> dans la liste de ses favoris
    </h3>
    </td>
</tr>
<tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
    <td class="content-block" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;" valign="top">
    <strong>
        A propos de l'utilisateur
    </strong>
    <br/>
    <div>
        <P>Nom : <%= @user.name %> </p>
        <p>E-mail : <%= @user.email %> </p>
        <p>Téléphone : <%= @user.phone %> </p>
        <p>Société : <%= @user.societe %> </p>
            <a href="https://activsolution.fr/cvtheque/user/<%= @user.id %>" class="btn-primary" itemprop="url" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; color: #FFF; text-decoration: none; line-height: 2em; font-weight: bold; text-align: center; cursor: pointer; display: inline-block; border-radius: 5px; text-transform: capitalize; background-color: #f06292; margin: 0; border-color: #f06292; border-style: solid; border-width: 8px 16px;">
                Voir l'utilisateur
            </a>
    </div>
    <hr/>
    <strong>
        A propos du candidat
    </strong>
    <br/>
    <div>
        <p>Nom : <%= @cv.nomPrenom %> </p>
        <p>E-mail : <%= @cv.email %> </p>
        <p> Téléphone : <%= @cv.telephone %> </p>
            <a href="https://activsolution.fr/cvtheque/cv/<%= @cv.id %>" class="btn-primary" itemprop="url" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; color: #FFF; text-decoration: none; line-height: 2em; font-weight: bold; text-align: center; cursor: pointer; display: inline-block; border-radius: 5px; text-transform: capitalize; background-color: #f06292; margin: 0; border-color: #f06292; border-style: solid; border-width: 8px 16px;">
                Allez sur le site
            </a>
        <hr/>
    </div>
    </td>
</tr>

